table {
  width: 100%;
}

mat-card {
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
  min-width: 550px;
}

mat-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

mat-form-field {
  margin: 0 1em;
  min-width: 20px;
}

.book-search-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  width: 100%;
}

.book-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.create-fab {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.book-description {
  @media (max-width: 600px) {
    display: none;
  }
}
