table {
  width: 100%;
}

mat-card {
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.create-fab {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.book-description {
  @media (max-width: 600px) {
    display: none;
  }
}
