mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar {
  margin: 0 0 20px 0;
}

button {
  margin: 8px;
}

.full-width {
  width: 100%;
}

input:disabled {
  color: white !important;
}

textarea:disabled {
  color: white !important;
}
