<mat-card>
  <mat-toolbar> Book Form </mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Book Title</mat-label>
        <input matInput placeholder="e.g. Clean Code" formControlName="title" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Author</mat-label>
        <input
          matInput
          placeholder="e.g. Robert C. Martin"
          formControlName="author"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="e.g. A Handbook of Agile Software Craftsmanship"
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Pages</mat-label>
        <input
          matInput
          placeholder="e.g. 464"
          type="number"
          formControlName="totalPages"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
